<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.arbresystems.appoint">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <service android:name=".segundoPlano.atualizarConfiguracoes.ServiceAtualizarConfiguracoes" />
        <service android:name=".segundoPlano.atualizarLocalizacao.ServiceAtualizarLocalizacao" />
        <service android:name=".segundoPlano.ServiceStart" />

        <activity android:name=".view.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".view.CadastrarActivity" />
        <activity android:name=".view.ConfigActivity" />
        <activity android:name=".view.PrincipalActivity" />
        <activity android:name=".view.LoginActivity" />
        <activity android:name=".view.PromocoesActivity" />
        <activity android:name=".view.PesquisarActivity"/>


        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>
        <activity android:name=".view.PerfilAdmActivity" />
        <activity android:name=".view.CompromissoActivity" />
        <activity
            android:name=".view.AgendarActivity"
            android:label="@string/title_activity_agendar" />
        <activity android:name=".view.SobreActivity" />
        <activity android:name=".view.PromocaoTelaIndividualActivity" />

        <receiver
            android:name=".segundoPlano.StartBoot"
            android:enabled="true"
            android:permission="android.permission.RECEIVE_BOOT_COMPLETED">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>

        <activity android:name=".view.InformacoesAdm"></activity>
    </application>

</manifest>